*, 
/* ====== FONT-FAMILY ====== */

.inter-fontfamily {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
  }

html {
    scroll-behavior: smooth;
}

p{
    color: black; font-family: Inter;
}
li{
    color: black; font-family: Inter;
}
i{
    color:rgb(0, 0, 0); font-family: Inter;
    text-decoration: none;
    border: #e5edfc00;
    transition: all;
    transition-duration: 300ms;
}
b{
    color: black; font-family: Inter;
}
a{
    color: black; font-family: Inter;
}

/* ====== NAVBAR ====== */
.icon {
    width: 40px;
    border: #e5edfc00;
    text-decoration: none;
}

.icon:hover {
    border-bottom: 0px none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #e5edfc;
    padding-top: 70px;
}

nav{
    background-color: #e5edfc;
    display: flex;
    justify-content: space-between;
    padding: 0.005rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    position: fixed;
    background-position: center;
    top: 0px;
    width: 100%;
    background-color: #e5edfcbe;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(33, 32, 34);
    font-weight: 500;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid blue(0, 0, 0, 0);
    padding: 5px;
}

nav ul li a:hover {
    color: blue;
    border-bottom: 1px solid blue;
    padding: 5px;
}

.currentpage {
    color: blue;
    text-decoration: underline;
    font-weight: 600;
    text-underline-offset: 10px;
}

/* ====== BANNER ====== */

fieldset {
    border-color: #e5edfc00;
}

.buttomm {
    font-size: smaller;
    position: absolute;
}

.onnav {
    text-decoration: none;
    background-color: #a4bfff;
    padding: 8px;
    border-radius: 20px;
}

.onnav:hover {
    color: blue;
}

.banner {
    background-image: url(https://awsimages.detik.net.id/community/media/visual/2022/09/12/transjakarta-beroperasi-24-jam-ini-5-hal-yang-diketahui_169.jpeg?w=1200);
    background-size: 35%;
    background-repeat: no-repeat;
    padding-left: 3%;
    padding-right: 45%;
    position: static;
    background-position-x: 85%;
}

/* ====== BODY ====== */

.border {
    border-color: #e5edfc00;
    background-color: #ffffff;
    border-radius: 20px;
    position: static;
    box-shadow: 0px 0px 1.5px;
}

.Mulai {
    padding-left: 240px;
    padding-right: 240px;
}

aside {
    width: 840px;
    padding: 15px;
    margin-left: 15px;
    right: 10px;
    float: right;
    background-color: #ffffff;
    border-radius: 20px;
}

.ngcokding {
    text-decoration: none;
}

.konteks {
    position: static;
    width: 200px;
    float: left;
    left: 10px;
    padding: 15px;
    padding-top: 6px;
    background-color: #a4bfff;
    border-radius: 20px;
}

.backtotop {
    padding-left: 1px;
    padding-right: 1px;
    position: fixed;
    display: flex;
    background-color: #a4bfff;
    border-radius: 20%;
    padding: 9px;
    width: 12px;
    bottom: 5%;
    right: 30px;
    border: #e5edfc00;
    text-decoration: none;
    transition: all;
    transition-duration: 300ms;
}

.backtotop:hover {
    background-color: rgb(0, 0, 203);
}

.button {
    background-color: blue;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px;
    transition: all;
    transition-duration: 300ms;
}

.button:hover {
    color: #a4bfff;
    border-bottom: 1px solid #7e7e7e;
    padding: 8px;
    background-color: rgb(0, 0, 203);
}

.onnav {
    background-color: #e5edfc00;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px;
    transition: all;
    transition-duration: 300ms;
}

.onnav:hover {
    color: blue;
}

i:hover {
    color: blue;
    border-bottom: none;
}

.koridor2 {
    padding: 1px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
}

.koridor3 {
    padding: 1px;
    background-color: rgb(172, 172, 0);
    border-radius: 10px;
    color: white;
}

.koridor4 {
    padding: 1px;
    background-color: rgb(56, 0, 83);
    border-radius: 10px;
    color: white;
}

.koridor5 {
    padding: 1px;
    background-color: rgb(255, 140, 0);
    border-radius: 10px;
    color: white;
}

.koridor6 {
    padding: 1px;
    background-color: green;
    border-radius: 10px;
    color: white;
}

.koridor7 {
    padding: 1px;
    background-color: palevioletred;
    border-radius: 10px;
    color: white;
}

.koridor9 {
    padding: 1px;
    background-color: rgb(100, 185, 203);
    border-radius: 10px;
    color: white;
}

.koridor10 {
    padding: 1px;
    background-color: rgb(149, 0, 0);
    border-radius: 10px;
    color: white;
}

.koridor13 {
    padding: 1px;
    background-color: rgb(83, 0, 177);
    border-radius: 10px;
    color: white;
} 